.card-profile-avatar-picture{
	padding-top: .625rem;
	padding-bottom: .625rem
}

.card-profile-avatar-picture-image{
	display: block;
	margin: 0 auto
}

.card-profile-hgroup {}

.card-profile-fullname,
.card-profile-profession{
	text-align: center;
	color: #fff
}

.card-profile-fullname{
	font-size: 3.215em;
}
.card-profile-profession{
	font-size: 1.945em
}