figure.card-profile-avatar-picture
	img(ng-src="{{:: cardimage }}" 
		alt="{{:: cardname }}"
		class="card-profile-avatar-picture-image")

hgroup.card-profile-hgroup
	h1.card-profile-fullname {{:: cardname }}
	h2.card-profile-profession {{:: cardprofession}}
